alpha_87a_full_0.9.2.json
[{"id":"23fb3158e132e84d","type":"tab","label":"Alpha 87A","disabled":false,"info":""},{"id":"f2418f70cb3cd0be","type":"ui_switch","z":"23fb3158e132e84d","name":"Alpha 87A Power","label":"<div class=\"widget-title\">Amplifier</div> <span class=\"widget-subtitle warn\">DO NOT USE ON 6M</span>  <span class=\"alpha87a-power-label\">Power:</span></div>","tooltip":"","group":"8495b55a41b65a7f","order":1,"width":"5","height":"7","passthru":false,"decouple":"true","topic":"Alpha 87A Power","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-toggle-on fa-lg","oncolor":"#66ff66","offvalue":"0","offvalueType":"num","officon":"fa-toggle-off fa-lg","offcolor":"{{colour}}","animate":true,"x":1910,"y":940,"wires":[["0545edad958f4f2c"]]},{"id":"0545edad958f4f2c","type":"function","z":"23fb3158e132e84d","name":"Power On/Off","func":"flow.set('poweredOn', msg.payload);\nmsg.payload = 'AC ' + (msg.payload == 1 ? 'ON' : 'OFF') + '\\r\\n';\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2460,"y":940,"wires":[["8058297f.3e3f18"]]},{"id":"c047fc55073bdc6c","type":"function","z":"23fb3158e132e84d","name":"Parse HV","func":"if (msg.payload.HV != undefined) {\n    msg.payload = msg.payload.HV\n    return msg;\n}\n\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1340,"wires":[["5998c38d071a1f3f"]]},{"id":"5998c38d071a1f3f","type":"ui_level","z":"23fb3158e132e84d","group":"8495b55a41b65a7f","order":10,"width":"5","height":"3","name":"Meter","label":"Plate mA:","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"1500","segWarn":"1000","segHigh":"1200","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"reactive","shape":"3","colorschema":"fixed","textoptions":"custom","colorText":"#eeeeee","fontLabel":".9","fontValue":".9","fontSmall":".8","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":true,"property":"payload","peaktime":"1000","x":1870,"y":1360,"wires":[]},{"id":"a4bc518e67d55398","type":"inject","z":"23fb3158e132e84d","name":"Trigger STAT Pinger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":1740,"y":540,"wires":[["0a0d7d6e48ff6212"]]},{"id":"0a0d7d6e48ff6212","type":"function","z":"23fb3158e132e84d","name":"Query : STAT","func":"msg.payload = \"STAT\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":540,"wires":[["8058297f.3e3f18"]]},{"id":"5437947b8577afe9","type":"function","z":"23fb3158e132e84d","name":"Query : METER","func":"\nmsg.payload = \"METER\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":740,"wires":[["8058297f.3e3f18"]]},{"id":"7a1116edcd50d8c0","type":"inject","z":"23fb3158e132e84d","name":"Trigger Query : 500 ms","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1750,"y":680,"wires":[["2eb91a6e.f2fac6"]]},{"id":"81556e0ea17afa32","type":"ui_switch","z":"23fb3158e132e84d","name":"OP/STBY In","label":"Mode: <font color = {{msg.color}}>{{msg.topic}}","tooltip":"","group":"8495b55a41b65a7f","order":3,"width":"5","height":"3","passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-toggle-on fa-lg","oncolor":"#66ff66","offvalue":"0","offvalueType":"num","officon":"fa-toggle-off fa-lg","offcolor":"grey","animate":true,"x":1890,"y":1000,"wires":[["cb90228e9d60266c","d009bcbe.3782d"]]},{"id":"6adc32c5bbf62ea6","type":"function","z":"23fb3158e132e84d","name":"Set Operate Mode","func":"msg.payload = 'OPER ' + (msg.payload === 1 ? 'ON' : 'OFF') + '\\r\\n';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2470,"y":1020,"wires":[["50e69678.9dd158"]]},{"id":"fcd84c9c0ac4e8ac","type":"ui_level","z":"23fb3158e132e84d","group":"8495b55a41b65a7f","order":6,"width":"5","height":"3","name":"Power Out","label":"Po: ","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"1800","segWarn":"1400","segHigh":"1500","unit":"W","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"reactive","shape":"3","colorschema":"fixed","textoptions":"custom","colorText":"#eeeeee","fontLabel":".9","fontValue":".9","fontSmall":".8","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":true,"property":"payload","peaktime":"1000","x":1890,"y":1560,"wires":[]},{"id":"612fcded77b845f4","type":"ui_level","z":"23fb3158e132e84d","group":"8495b55a41b65a7f","order":7,"width":"5","height":"3","name":"Power Reflected","label":"Pr: ","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"250","segWarn":"50","segHigh":"125","unit":"W","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"reactive","shape":"3","colorschema":"fixed","textoptions":"custom","colorText":"#eeeeee","fontLabel":".9","fontValue":".9","fontSmall":".8","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":true,"property":"payload","peaktime":"1000","x":1900,"y":1440,"wires":[]},{"id":"5c784e70a0615b69","type":"function","z":"23fb3158e132e84d","name":"Query : PWR","func":"msg.payload = \"PWR\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":660,"wires":[["8058297f.3e3f18"]]},{"id":"dff56518bf493a98","type":"function","z":"23fb3158e132e84d","name":"Query : REFL","func":"msg.payload = \"REFL\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":700,"wires":[["8058297f.3e3f18"]]},{"id":"1e503f0b7f2d2748","type":"function","z":"23fb3158e132e84d","name":"Parse FWD Power","func":"if (msg.payload.FWD != undefined) {\n    msg.payload = msg.payload.FWD;\n    return msg;\n}\n\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1560,"wires":[["74cfd4a3.98167c","fcd84c9c0ac4e8ac"]]},{"id":"4519a70934d066d1","type":"function","z":"23fb3158e132e84d","name":"Parse REFL Power","func":"if (msg.payload.RFL != undefined) {\n    msg.payload = msg.payload.RFL;\n    return msg;\n}\n\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1440,"wires":[["612fcded77b845f4"]]},{"id":"a4d55f43e0631f00","type":"function","z":"23fb3158e132e84d","name":"Query : GRID","func":"msg.payload = \"GRID\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":780,"wires":[["8058297f.3e3f18"]]},{"id":"4e5c5e9358221a57","type":"function","z":"23fb3158e132e84d","name":"Parse State","func":"if (msg.payload.STATE != undefined) {\n    var rawMode = msg.payload.STATE;\n    var status = '';\n    var opMode = 0;\n    var acMode = 1;\n    switch (rawMode) {\n        case 'WARMUP':\n            status = 'Warm Up';\n            color = 'red';\n            break;\n        case 'STANDBY':\n            status = 'Standby';\n            color = 'yellow';\n            break;\n        case 'OPERATE':\n            status = 'Operate';        \n            color = '#66ff66';\n            opMode = 1;\n            break;\n        case 'OVERDRIVE':\n            status = 'OVERDRIVE!';\n            color = 'red';\n            break;\n        default:\n            status = 'Powered Off';\n            color = 'gray';\n            acMode = 0;\n    }\n    \n    flow.set('AmpStatus', opMode);\n    flow.set('poweredOn', acMode);\n    return  {topic: status, payload: opMode, color: color, acMode: acMode};\n}\n\nreturn;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":940,"wires":[["81556e0ea17afa32","bfc5968c.e7ad78","ffbb3604.55c318"]]},{"id":"d741011492e70188","type":"ui_switch","z":"23fb3158e132e84d","name":"Plate HV / IP","label":"{{msg.topic}}","tooltip":"","group":"8495b55a41b65a7f","order":9,"width":"5","height":"4","passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"IP","onvalueType":"str","onicon":"fa-toggle-on fa-lg","oncolor":"#66ff66","offvalue":"HV","offvalueType":"str","officon":"fa-toggle-on fa-lg fa-rotate-180","offcolor":"#66ff66","animate":true,"x":1890,"y":1200,"wires":[["959d4bc6.64b278"]]},{"id":"3062c4051bcd652f","type":"function","z":"23fb3158e132e84d","name":"Set Meter Command","func":"\nmsg = {payload: \"METER \" + msg.cmd + '\\r\\n', control: undefined, topic: undefined};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2480,"y":1160,"wires":[["50e69678.9dd158"]]},{"id":"cf86de34ffc9d162","type":"function","z":"23fb3158e132e84d","name":"Parse Plate Current","func":"if (msg.payload.IP != undefined) {\n    msg.payload = msg.payload.IP;\n    return msg;\n}\n\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1380,"wires":[["5998c38d071a1f3f"]]},{"id":"4a1d36169cf540c5","type":"function","z":"23fb3158e132e84d","name":"Parse Grid Current","func":"if (msg.payload.IG != undefined) {\n    msg.payload = msg.payload.IG;\n    return msg;\n}\n\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1500,"wires":[["c90935ab.7e8018"]]},{"id":"6e1d5cfc5bda3a56","type":"comment","z":"23fb3158e132e84d","name":"Alpha 87A Flow - Read Me","info":"# Alpha 87A Node Red Flow - de N0VD\nNode Red flows to control an Alpha 87A amplifier.\n\n-- alpha_87a_minimal is the initial v0.9.0 BETA release and will require that the AlphaMax softward be installed.  This is a minimal interface and assumes automatic operation of the amp.\n\n-- alpha_87a_full is a full featured NR flow that allows for 87As with or without the AlphaMax software to be remotely controlled.\n\nAs of v0.9.2 flow is configured to use a ser2net connection on the Raspi for greating stability and reliability.\n\nVersions through v0.9.1 were configured to use a USB-Serial cable directly connected to a Raspberry PI. It's best to configure the PI to always assign the same USB \"device\" to ensure the flow is able to connect to the amp. This flow is using the name ttyUSB_Alpha87A. Configuration using udev is beyond the scope of this doc, however, these links should get your going.\n  https://unix.stackexchange.com/questions/66901/how-to-bind-usb-device-under-a-static-name\n  https://askubuntu.com/questions/978485/udev-rule-with-serial-for-ttyusb-not-working\n\nRevision History\n******************************************************************\nVersion: v0.9.2 BETA\nInitial Release:: 30 August 2021 (v0.9.0)\nAuthor: Kelly Jones - N0VD\nCurrent Version: https://github.com/blindvillian/nodered\nDescription: Flow to remotely control an Alpha 87A amp\n\nv0.9.2 : 29 May 2022\n  Flow reconfigured to use a ser2net connection on the Raspi due to\n  what appears to be an issue in the USB-Serial connection.  This\n  type of connection has proven to be much more robust.  To use this\n  flow, a ser2net configuration must be set up on the PI.  Also cleaned\n  up the flow to remove unnecessary nodes and create a simpler layout.\n\nv0.9.2 : 5 Sept 2021\n  Fix the band-segment to band-button mappings so the button\n  \"lights up\" for all segments in a band.\n\nv0.9.1 : 4 Sept 2021\n  Flow is currently configured to use a USB-Serial cable directly\n  connected to a Raspberry PI. It's best to configure the PI to\n  always assign the same USB \"device\" to ensure the flow is able\n  to connect to the amp. This flow is using the name ttyUSB_Alpha87A.\n  Configuration using udev is beyond the scope of this doc.\n\n  Greatly expanded features and functionality so flow will work with\n  87As without the AlphaMax software. Also updated the UI to be more\n  appealing than the out of the box theme.\n\n******************************************************************\n\nEnjoy!\nKelly - N0VD\n","x":130,"y":1000,"wires":[]},{"id":"bef29593301827b5","type":"ui_button","z":"23fb3158e132e84d","name":"10M","group":"8495b55a41b65a7f","order":12,"width":"1","height":"4","passthru":false,"label":"10M","tooltip":"10 Meters","color":"","bgcolor":"{{msg.bgcolor}}","icon":"","payload":"9","payloadType":"str","topic":"","topicType":"str","x":2110,"y":1720,"wires":[["e405f3661065cdad"]]},{"id":"fe0a628005780e4b","type":"ui_button","z":"23fb3158e132e84d","name":"12M","group":"8495b55a41b65a7f","order":13,"width":"1","height":"4","passthru":false,"label":"12M","tooltip":"12 Meters","color":"","bgcolor":"{{msg.bgcolor}}","icon":"","payload":"8","payloadType":"str","topic":"","topicType":"str","x":2110,"y":1760,"wires":[["e405f3661065cdad"]]},{"id":"207044d488c6152f","type":"ui_button","z":"23fb3158e132e84d","name":"15M","group":"8495b55a41b65a7f","order":14,"width":"1","height":"4","passthru":false,"label":"15M","tooltip":"15 Meters","color":"","bgcolor":"{{msg.bgcolor}}","icon":"","payload":"7","payloadType":"str","topic":"topic","topicType":"str","x":2110,"y":1800,"wires":[["e405f3661065cdad"]]},{"id":"658eeea899c3ab90","type":"ui_button","z":"23fb3158e132e84d","name":"17M","group":"8495b55a41b65a7f","order":15,"width":"1","height":"4","passthru":false,"label":"17M","tooltip":"17 Meters","color":"","bgcolor":"{{msg.bgcolor}}","icon":"","payload":"6","payloadType":"str","topic":"topic","topicType":"msg","x":2110,"y":1840,"wires":[["e405f3661065cdad"]]},{"id":"9b4132798ff674c6","type":"ui_button","z":"23fb3158e132e84d","name":"20M","group":"8495b55a41b65a7f","order":16,"width":"1","height":"4","passthru":false,"label":"20M","tooltip":"20 Meters","color":"","bgcolor":"{{msg.bgcolor}}","icon":"","payload":"5","payloadType":"str","topic":"","topicType":"str","x":2110,"y":1880,"wires":[["e405f3661065cdad"]]},{"id":"34a65dab5852c8e8","type":"ui_button","z":"23fb3158e132e84d","name":"30M","group":"8495b55a41b65a7f","order":17,"width":"1","height":"4","passthru":false,"label":"30M","tooltip":"30 Meters","color":"","bgcolor":"{{msg.bgcolor}}","icon":"","payload":"4","payloadType":"str","topic":"topic","topicType":"str","x":2110,"y":1920,"wires":[["e405f3661065cdad"]]},{"id":"f3e554b445c49478","type":"ui_button","z":"23fb3158e132e84d","name":"40M","group":"8495b55a41b65a7f","order":18,"width":"1","height":"4","passthru":false,"label":"40M","tooltip":"40 Meters","color":"","bgcolor":"{{msg.bgcolor}}","icon":"","payload":"3","payloadType":"str","topic":"topic","topicType":"msg","x":2110,"y":1960,"wires":[["e405f3661065cdad"]]},{"id":"5687f660ef659323","type":"ui_button","z":"23fb3158e132e84d","name":"80M","group":"8495b55a41b65a7f","order":19,"width":"1","height":"4","passthru":false,"label":"80M","tooltip":"80 Meters","color":"","bgcolor":"{{msg.bgcolor}}","icon":"","payload":"2","payloadType":"str","topic":"topic","topicType":"msg","x":2110,"y":2000,"wires":[["e405f3661065cdad"]]},{"id":"ba52b394996bc837","type":"ui_button","z":"23fb3158e132e84d","name":"160M","group":"8495b55a41b65a7f","order":20,"width":"1","height":"4","passthru":false,"label":"160M","tooltip":"160 Meters","color":"","bgcolor":"{{msg.bgcolor}}","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"str","x":2110,"y":2040,"wires":[["e405f3661065cdad"]]},{"id":"db328708c30b5745","type":"ui_button","z":"23fb3158e132e84d","name":"AlphaMax","group":"8495b55a41b65a7f","order":21,"width":"1","height":"4","passthru":false,"label":"AMAX","tooltip":"AlphaMax ON/OFF","color":"","bgcolor":"{{msg.bgcolor}}","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":2140,"y":1660,"wires":[["a93b86573de505a5"]]},{"id":"dbfc9026.affcc","type":"ui_template","z":"23fb3158e132e84d","group":"8495b55a41b65a7f","name":"Segment Selection Widget","order":22,"width":"5","height":"4","format":"<div style=\"margin-top:10px;\">\n    <span style=\"margin-right:15px;\">Band Segment: <font color=\"{{msg.bandSegmentValueFontColor}}\">{{msg.frequency}}</font></span>\n    <span id=\"segment-down\" style=\"margin-left:6px; float:right\">\n        <md-button class=\"md-button remote-button bigger fa fa-chevron-down segment-down\" aria-label=\"Down\"></md-button>\n    </span>\n    <span id=\"segment-up\" style=\"float:right;\">\n        <md-button class=\"md-button remote-button bigger fa fa-chevron-up segment-up\" aria-label=\"Up\"></md-button>\n    </span>\n\n    <script>\n        (function($scope) {\n            $('#segment-down').on('click', function(e) {\n                e.preventDefault();\n                $scope.send({'func':'segment', 'action':'down'});\n            });\n            $('#segment-up').on('click', function(e) {\n                e.preventDefault();\n                $scope.send({'func':'segment', 'action':'up'});\n            });\n        })(scope);\n    </script>\n</div>    \n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1940,"y":2100,"wires":[["4c930482ca536c0c"]]},{"id":"dc329c1ad550ef4c","type":"ui_template","z":"23fb3158e132e84d","group":"8495b55a41b65a7f","name":"Tune Selection Widget","order":23,"width":"5","height":"4","format":"<div>\n    <span style=\"margin-right:15px;\">Tune: <font color=\"{{msg.bandTuneValueFontColor}}\">{{msg.tune}}</font></span>\n    <span id=\"tune-down\" style=\"margin-left:6px; float:right\">\n        <md-button class=\"md-button remote-button bigger fa fa-chevron-down tune-down\" aria-label=\"Down\"></md-button>\n    </span>\n    <span id=\"tune-up\" style=\"float:right;\">\n        <md-button class=\"md-button remote-button bigger fa fa-chevron-up tune-up\" aria-label=\"Up\"></md-button>\n    </span>\n\n    <script>\n        (function($scope) {\n            $('#tune-down').on('click', function(e) {\n                e.preventDefault();\n                $scope.send({'func':'tune', 'action': 'down'});\n            });\n            $('#tune-up').on('click', function(e) {\n                e.preventDefault();\n                $scope.send({'func':'tune', 'action': 'up'});\n            });\n        })(scope);\n    </script>\n</div>     \n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1920,"y":2140,"wires":[["4c930482ca536c0c"]]},{"id":"cc124987235013b5","type":"ui_template","z":"23fb3158e132e84d","group":"8495b55a41b65a7f","name":"Load Selection Widget","order":24,"width":"5","height":"4","format":"<div>\n    <span style=\"margin-right:15px;\">Load: <font color=\"{{msg.bandLoadValueFontColor}}\">{{msg.load}}</font></span>\n    <span id=\"load-down\" style=\"margin-left:6px; float:right\">\n        <md-button class=\"md-button remote-button bigger fa fa-chevron-down load-down\" aria-label=\"Down\"></md-button>\n    </span>\n    <span id=\"load-up\" style=\"float:right;\">\n        <md-button class=\"md-button remote-button bigger fa fa-chevron-up load-up\" aria-label=\"Up\"></md-button>\n    </span>\n\n    <script>\n        (function($scope) {\n            $('#load-down').on('click', function(e) {\n                e.preventDefault();\n                $scope.send({'func':'load', 'action': 'down'});\n            });\n            $('#load-up').on('click', function(e) {\n                e.preventDefault();\n                $scope.send({'func':'load', 'action': 'up'});\n            });\n        })(scope);\n    </script>\n</div>     \n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1920,"y":2180,"wires":[["4c930482ca536c0c"]]},{"id":"3d6b4e72126fa809","type":"function","z":"23fb3158e132e84d","name":"Query : Test Message","func":"\n// msg.payload = \"STAT\\r\\n\"\nmsg.payload = \"AUTOTUNE ON\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":480,"wires":[["8058297f.3e3f18"]]},{"id":"e405f3661065cdad","type":"function","z":"23fb3158e132e84d","name":"Set Band","func":"\n// Adding function to interpret the button click.\n// My amp seemed very picky using the button's payload.\nmsg.payload = 'BAND ' + msg.payload + '\\r\\n'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":1880,"wires":[["50e69678.9dd158"]]},{"id":"401398e6066bf7c5","type":"function","z":"23fb3158e132e84d","name":"Set 10M Button Color","func":"\nvar shutdown = msg.frequency == true;\n\nmsg.bgcolor = (!shutdown && msg.payload >= 28000 && msg.payload <= 30000) ? '#0fa9b0' : '#097479';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":1720,"wires":[["bef29593301827b5"]]},{"id":"d6a648f26c8e81ae","type":"function","z":"23fb3158e132e84d","name":"Set 12M Button Color","func":"\nvar shutdown = msg.shutdown == true;\n\nmsg.bgcolor = (!shutdown && msg.payload >= 24550 && msg.payload <= 25000) ? '#0fa9b0' : '#097479';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":1760,"wires":[["fe0a628005780e4b"]]},{"id":"10864ae7e6d3bd5f","type":"function","z":"23fb3158e132e84d","name":"Set 15M Button Color","func":"\nvar shutdown = msg.shutdown == true;\n\nmsg.bgcolor = (!shutdown && msg.payload >= 21000 && msg.payload <= 21500) ? '#0fa9b0' : '#097479';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":1800,"wires":[["207044d488c6152f"]]},{"id":"7c7718a2ec71254d","type":"function","z":"23fb3158e132e84d","name":"Set 17M Button Color","func":"\nvar shutdown = msg.shutdown == true;\n\nmsg.bgcolor = (!shutdown && msg.payload >= 18000 && msg.payload <= 18500) ? '#0fa9b0' : '#097479';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":1840,"wires":[["658eeea899c3ab90"]]},{"id":"5959f3076a9e72d4","type":"function","z":"23fb3158e132e84d","name":"Set 20M Button Color","func":"\nvar shutdown = msg.shutdown == true;\n\nmsg.bgcolor = (!shutdown && msg.payload >= 14000 && msg.payload <= 14500) ? '#0fa9b0' : '#097479';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":1880,"wires":[["9b4132798ff674c6"]]},{"id":"e812bcf264f4ce87","type":"function","z":"23fb3158e132e84d","name":"Set 30M Button Color","func":"\nvar shutdown = msg.shutdown == true;\n\nmsg.bgcolor = (!shutdown && msg.payload >= 10000 && msg.payload <= 10500) ? '#0fa9b0' : '#097479';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":1920,"wires":[["34a65dab5852c8e8"]]},{"id":"435c6f667921ea2e","type":"function","z":"23fb3158e132e84d","name":"Set 40M Button Color","func":"\nvar shutdown = msg.shutdown == true;\n\nmsg.bgcolor = (!shutdown && msg.payload >= 7000 && msg.payload <= 7500) ? '#0fa9b0' : '#097479';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":1960,"wires":[["f3e554b445c49478"]]},{"id":"0cfa81fc48de3d80","type":"function","z":"23fb3158e132e84d","name":"Set 80M Button Color","func":"\nvar shutdown = msg.shutdown == true;\n\nmsg.bgcolor = (!shutdown && msg.payload >= 3300 && msg.payload <= 4000) ? '#0fa9b0' : '#097479';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":2000,"wires":[["5687f660ef659323"]]},{"id":"fe6a37f6f8afe39e","type":"function","z":"23fb3158e132e84d","name":"Set 160M Button Color","func":"\nvar shutdown = msg.shutdown == true;\n\nmsg.bgcolor = (!shutdown && msg.payload >= 1800 && msg.payload <= 2000) ? '#0fa9b0' : '#097479';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":2040,"wires":[["ba52b394996bc837"]]},{"id":"cb1857a4ea5cdda3","type":"function","z":"23fb3158e132e84d","name":"Set AMAX Button Color","func":"\nmsg.bgcolor = msg.payload == true ? '#0fa9b0' : '#097479';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":1660,"wires":[["db328708c30b5745"]]},{"id":"051511596eee722f","type":"function","z":"23fb3158e132e84d","name":"Parse Frequency","func":"if (msg.payload.FREQUENCY) {\n    var shutdown = false;\n    \n    return {payload: msg.payload.FREQUENCY, frequency: msg.payload.FREQUENCY, bandSegmentValueFontColor: shutdown ? 'gray' : '#d7d7a0', shutdown: shutdown};\n}\n\nreturn;\n\n/*\nvar shutdown = msg.shutdown == true;\nvar freq = '';\n\nif (shutdown) {\n    freq = '--';\n} else {\n    var freqString = msg.payload.indexOf('FREQUENCY = ');\n    msg.x = msg.payload.length + 11;\n    msg.y = freqString + 11;\n    msg.z = msg.payload.length - 7;\n    msg.b = freqString;\n    \n    msg.c = khzIndex = msg.payload.indexOf('kHz')\n    \n    freq = (msg.payload.substr(11, msg.payload.indexOf('kHz') - 11)).replace(/\\s+/g, ' ').trim();\n}\n\nreturn {payload: freq, frequency: freq, bandSegmentValueFontColor: shutdown ? 'gray' : '#d7d7a0', shutdown: shutdown};\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":1700,"wires":[["401398e6066bf7c5","d6a648f26c8e81ae","10864ae7e6d3bd5f","7c7718a2ec71254d","5959f3076a9e72d4","e812bcf264f4ce87","435c6f667921ea2e","0cfa81fc48de3d80","fe6a37f6f8afe39e","dbfc9026.affcc"]]},{"id":"4c930482ca536c0c","type":"function","z":"23fb3158e132e84d","name":"Set Segment/Tune/Load Message","func":"\nvar cmd = (msg.action == 'down' ? 'DOWN' : 'UP') + '\\r\\n';\n\nswitch(msg.func) {\n    case 'segment':\n        cmd = 'SEG ' + cmd; \n        break;\n    case 'load':\n        cmd = 'LOAD ' + cmd; \n        break;\n    case 'tune':\n        cmd = 'TUNE ' + cmd; \n        break;\n}\n\nmsg.payload = cmd\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":2080,"wires":[["50e69678.9dd158"]]},{"id":"1176213b8d411366","type":"ui_template","z":"23fb3158e132e84d","group":"8495b55a41b65a7f","name":"Band Top HR","order":11,"width":"5","height":"1","format":"<div style=\"height:auto; overflow: hidden\">\n<hr style=\n    \"border-top: 1px solid #a39d99;\n    border-width: 0px 0px 0;\n    width: 100%;\n    margin-left: auto;\n    margin-right: auto;\n    height: 0px;\n    margin-top: 5px;\n    border-bottom: 1px solid #a39d99;\n    box-shadow: 0 0 3px #a39d99\";\n\t>\n</div>  ","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":110,"y":2280,"wires":[[]]},{"id":"300feb7ce8859a89","type":"comment","z":"23fb3158e132e84d","name":"Non Functional UI Elements","info":"The nodes below here are non-function UI elements.\n\n - Global Style Overrides\n - Band Top HR","x":160,"y":2160,"wires":[]},{"id":"d240e5c35504336b","type":"function","z":"23fb3158e132e84d","name":"Parse Load","func":"var shutdown = false;\n\nif (msg.payload.LOAD != undefined) {\n    msg.load = msg.payload.LOAD;\n    msg.bandLoadValueFontColor = shutdown ? 'gray' : '#d7d7a0';\n    \n    return msg;\n}\n\nreturn;\n\n/*\n\nvar shutdown = msg.shutdown == true;\nvar load = '';\n\nif (shutdown) {\n    load = '--';\n} else {\n    var loadString = msg.payload.indexOf('LOAD = ');\n    load = (msg.payload.substr(loadString + 7, 4)).replace(/\\s+/g, ' ').trim();\n}\n\nmsg.load = load;\nmsg.bandLoadValueFontColor = shutdown ? 'gray' : '#d7d7a0';\n\nreturn msg;\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":1780,"wires":[["cc124987235013b5"]]},{"id":"2bbe722a3eb81a84","type":"function","z":"23fb3158e132e84d","name":"Parse Tune","func":"var shutdown = false;\n\nif (msg.payload.TUNE != undefined) {\n    msg.tune = msg.payload.TUNE;\n    msg.bandTuneValueFontColor = shutdown ? 'gray' : '#d7d7a0';\n    \n    return msg;\n}\n\nreturn;\n\n/*\nvar shutdown = msg.shutdown == true;\nvar tune = '';\n\nif (shutdown) {\n    tune = '--'\n} else {\n    var tuneString = msg.payload.indexOf('TUNE = ');\n    tune = (msg.payload.substr(tuneString + 7, 4)).replace(/\\s+/g, ' ').trim();\n}\n\nmsg.tune = tune;\nmsg.bandTuneValueFontColor = shutdown ? 'gray' : '#d7d7a0';\n\nreturn msg;\n\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":1740,"wires":[["dc329c1ad550ef4c"]]},{"id":"7ddd8dbd1e39c376","type":"function","z":"23fb3158e132e84d","name":"Parse AlphaMax Enabled","func":"if (msg.payload.AUTOTUNE != undefined) {\n    msg.payload = msg.payload.AUTOTUNE;\n    return msg;\n}\n\nreturn;\n\n/*\n\nvar shutdown = msg.shutdown == true;\nvar enabled = false;\n\nif (!shutdown) {\n    enabled = msg.payload.indexOf('ENABLED') > -1 ? true : false;\n    flow.set('alphaMaxEnabled', enabled);\n} else {\n    flow.set('alphaMaxEnabled', undefined);\n}\n\nmsg.payload = enabled;\n\nreturn msg;\n\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":1660,"wires":[["cb1857a4ea5cdda3"]]},{"id":"a93b86573de505a5","type":"function","z":"23fb3158e132e84d","name":"Set AlphaMax ON/OFF","func":"\nreturn;\n\n/* DISABLE ALPHAMAX BUTTON */\n/*****************************************\nvar enabled = flow.get('alphaMaxEnabled') || false;\n\nmsg.payload = enabled ? 'AUTOTUNE OFF\\r\\n' : 'AUTOTUNE ON\\r\\n';\nreturn msg;\n******************************************/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":1660,"wires":[[]]},{"id":"3654918b4f59946c","type":"ui_switch","z":"23fb3158e132e84d","name":"HV Hi / Low","label":"Voltage: <font color='{{msg.fontcolor}}'>{{msg.label}}</font>","tooltip":"","group":"8495b55a41b65a7f","order":4,"width":"5","height":"4","passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"HIGH","onvalueType":"str","onicon":"fa-toggle-on fa-lg","oncolor":"#66ff66","offvalue":"LOW","offvalueType":"str","officon":"fa-toggle-on fa-lg fa-rotate-180","offcolor":"#66ff66","animate":true,"x":1870,"y":1080,"wires":[["3aedea9ff0c4df9d"]]},{"id":"c8d9aa4b4e0a013d","type":"function","z":"23fb3158e132e84d","name":"Parse HV Mode","func":"var mode = msg.payload.MODE;\n\nif (msg.payload.MODE != undefined) {\n    msg.payload = mode\n    msg.label = mode == 'HIGH' ? 'High' : 'Low';\n    msg.fontcolor = '#4CE05E';\n    msg.colour = 'red';\n\n    return msg;\n}\n\nreturn;\n\n\n/*\nif (msg.label != undefined) {\n    msg.label = msg.label;\n    msg.fontcolor = msg.fontcolor;\n    return message;\n}\n\nvar modeString = msg.payload.indexOf('MODE = ');\nvar mode = (msg.payload.substr(modeString + 7, 5)).replace(/\\s+/g, ' ').trim();\n\nmsg.payload = mode;\nmsg.label = mode == 'HIGH' ? 'High' : 'Low';\nmsg.fontcolor = '#4CE05E';\nmsg.colour = 'red';\n\nreturn msg;\n\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1060,"wires":[["3654918b4f59946c"]]},{"id":"3aedea9ff0c4df9d","type":"function","z":"23fb3158e132e84d","name":"Set MODE HIGH / LOW","func":"\nmsg.payload = msg.payload == 'HIGH' ? 'MODE HIGH\\r\\n' : 'MODE LOW\\r\\n';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2490,"y":1240,"wires":[["50e69678.9dd158"]]},{"id":"3289ed52.4883e2","type":"ui_template","z":"23fb3158e132e84d","group":"8495b55a41b65a7f","name":"Amplifier <HR>","order":2,"width":"5","height":"2","format":"<div style=\"height:auto; overflow: hidden\">\n<hr style=\n    \"border-top: 1px solid #a39d99;\n    border-width: 0px 0px 0;\n    width: 100%;\n    margin-left: auto;\n    margin-right: auto;\n    margin-bottom: 5px;\n    height: 0px;\n    margin-top: 5px;\n    border-bottom: 1px solid #a39d99;\n    box-shadow: 0 0 3px #a39d99\";\n\t>\n</div>   ","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":120,"y":2240,"wires":[[]]},{"id":"a5e5f37af4f1d21c","type":"ui_template","z":"23fb3158e132e84d","group":"8495b55a41b65a7f","name":"Alpha 87A CSS Overrides","order":25,"width":0,"height":0,"format":"<style>\n/* Load Control Down Button */\n[node-id=\"94d0f0131fd1df39\"] > button {\n    left: 40px !important; \n    width: 88px !important; \n    height: 35px !important; //\n}\n\n[node-id=\"dbfc9026.affcc\"] {\n    overflow: hidden;\n}\n\n/* Header */\n.segment-up, .segment-down, .tune-up, .tune-down, .load-down, .load-up {\n    min-height: 25px !important;\n}\n\n/* Align power label */\n[node-id=\"f2418f70cb3cd0be\"] .alpha87a-power-label {\n    margin-left: 31px;\n}\n\n/* Aligh power switch */\n[node-id=\"f2418f70cb3cd0be\"] > ui-icon.flip-icon {\n    margin-top: 28px !important;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":150,"y":2200,"wires":[[]]},{"id":"8597372f.e9f5f8","type":"http in","z":"23fb3158e132e84d","name":"","url":"/AmpStatus","method":"get","upload":false,"swaggerDoc":"","x":300,"y":340,"wires":[["4a114d0e.a65bb4"]]},{"id":"4a114d0e.a65bb4","type":"function","z":"23fb3158e132e84d","name":"","func":"var AmpStatus = flow.get('AmpStatus') || 0;\nmsg.payload.AmpStatus = AmpStatus;\n\nvar SafePower = flow.get('SafePower') || 35;\nmsg.payload.SafePower = SafePower;\n\nvar FullPower = flow.get('FullPower') || 100;\nmsg.payload.FullPower = FullPower;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":340,"wires":[["b371544f.78ed08"]]},{"id":"b371544f.78ed08","type":"template","z":"23fb3158e132e84d","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"AmpStatus\":{{payload.AmpStatus}},\"SafePower\":{{payload.SafePower}},\"FullPower\":{{payload.FullPower}}}","x":630,"y":340,"wires":[["9eaf203c.86571"]]},{"id":"9eaf203c.86571","type":"http response","z":"23fb3158e132e84d","name":"","x":770,"y":340,"wires":[]},{"id":"260a8518.7f0c5a","type":"function","z":"23fb3158e132e84d","name":"Set Global AmpStatus var ","func":"// flow.set('SafePower', 35);\n// flow.set('FullPower', 100);\nflow.set('AmpStatus', msg.payload == 0 ? 0 : 1);\n\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2490,"y":1060,"wires":[[]]},{"id":"cb90228e9d60266c","type":"function","z":"23fb3158e132e84d","name":"Enable AlphaMax","func":"/** ALWAYS ENABLE ALPHAMAX AS A SAFETY NET **/\nmsg.payload = \"AUTOTUNE ON\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2470,"y":980,"wires":[["50e69678.9dd158"]]},{"id":"d009bcbe.3782d","type":"delay","z":"23fb3158e132e84d","name":"250ms Delay","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2270,"y":1040,"wires":[["6adc32c5bbf62ea6","260a8518.7f0c5a"]]},{"id":"74cfd4a3.98167c","type":"function","z":"23fb3158e132e84d","name":"Trip Overdrive","func":"var po = parseInt(msg.payload, 10) || 0;\n\nif (po > 1500) {\n    msg.payload = 0;\n    return msg;\n} \n\nreturn;\n ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":1600,"wires":[["de8fff08.7819d"]]},{"id":"df43ca70.2ef678","type":"tcp request","z":"23fb3158e132e84d","server":"10.81.250.34","port":"8700","out":"sit","splitc":" ","name":"Alpha 87A Ser2Net","x":190,"y":1460,"wires":[["58daab3.690eb54"]]},{"id":"8058297f.3e3f18","type":"link out","z":"23fb3158e132e84d","name":"To TCP/IP Connection","links":["6b11124.ad158ec"],"x":2875,"y":680,"wires":[]},{"id":"6b11124.ad158ec","type":"link in","z":"23fb3158e132e84d","name":"From TCP/IP Out","links":["8058297f.3e3f18"],"x":35,"y":1460,"wires":[["df43ca70.2ef678"]]},{"id":"58daab3.690eb54","type":"function","z":"23fb3158e132e84d","name":"Parse Incoming String","func":"var str = msg.payload.toString('utf8');\n\nfor (var i = 0; i < str.length; i++) {\n    if (str[i] == '\\n') {\n        msg.payload = flow.get('ampRxString');\n        node.send(msg);\n        flow.set('ampRxString', '');\n    } else {\n        flow.set('ampRxString', flow.get('ampRxString') + str[i]);\n    }\n}\n\nreturn;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1460,"wires":[["518aa722.3dc4e8"]]},{"id":"518aa722.3dc4e8","type":"function","z":"23fb3158e132e84d","name":"Convert Payload Strings to Objects","func":"var parts = msg.payload.split('  ');\nmsg.payload = {};\n\n// node.warn(parts.length);\n// node.warn(parts);\n\n\nfor (var i = 0; i < parts.length; i++) {\n    if (parts[i].indexOf('=') > -1) {\n        var subparts = parts[i].split('=');\n        \n        if (subparts.length === 2) {\n            var key = subparts[0].trim();\n            var val = '';\n\n            switch (key) {\n                case 'FREQUENCY':\n                case 'BAND':\n                case 'SEGMENT':\n                case 'LOAD':\n                case 'TUNE':\n                case 'IG':\n                case 'HV':\n                case 'FWD':\n                case 'RFL':\n                    val = parseInt(subparts[1])\n                    break;\n                case 'IP':\n                    val = parseFloat(subparts[1]) * 1000;\n                    break;\n                default:\n                    val = subparts[1].trim(); \n            }\n\n            msg.payload[key] = val;\n        } else {\n            // node.warn('hi');\n        }\n    } else {\n        // NON-KVP RESPONSES\n        if (parts.length == 1) {\n            var part = parts[0].trim();\n            \n            switch (part) {\n                case 'AUTOTUNE ENABLED':\n                case 'AUTOTUNE DISABLED':\n                    var words = part.split(' ');\n                    msg.payload['AUTOTUNE'] = words[1].trim() === 'ENABLED';\n                    break;  \n                case 'AMPLIFIER IS OFF':\n                    msg.payload['ACSTATE'] = 0;\n                    msg.payload['STATE'] = 'POWERED OFF';\n                    break;\n                case 'AMPLIFIER IS ON':\n                    msg.payload['ACSTATE'] = 1;\n                    break;\n                case '3 MINUTE WARM-UP':\n                case 'POWER ON SEQUENCE':\n                    msg.payload['ACSTATE'] = 1;\n                    msg.payload['STATE'] = 'WARMUP';\n                    break;\n            }\n        }\n    }\n}\n\nif (Object.keys(msg.payload).length > 0) {\n    // Do we have any keys?  Yep - it's a good paylaod\n    return msg;\n} else {\n    // Nope?  Just end it right there pal.    \n    return \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1460,"wires":[["6b321080.69afa","4e5c5e9358221a57","051511596eee722f","c047fc55073bdc6c","c8d9aa4b4e0a013d","1e503f0b7f2d2748","4519a70934d066d1","cf86de34ffc9d162","4a1d36169cf540c5","2bbe722a3eb81a84","d240e5c35504336b","7ddd8dbd1e39c376"]]},{"id":"6b321080.69afa","type":"function","z":"23fb3158e132e84d","name":"Set Flow State Variables","func":"\nif (msg.payload.STATE != undefined) {\n    // var AmpStatus = flow.get('AmpStatus');\n    var poweredOn = flow.get('poweredOn');\n    var currentState = msg.payload.STATE === 'OFF' ? 0 : 1;\n    \n    if (poweredOn !== currentState) {\n        flow.set('poweredOn', currentState);\n    }\n}\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":1280,"wires":[[]]},{"id":"2eb91a6e.f2fac6","type":"function","z":"23fb3158e132e84d","name":"Powered On Gate","func":"if (flow.get('poweredOn') === 1) {\n    return msg;\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2030,"y":680,"wires":[["5437947b8577afe9","a4d55f43e0631f00","5c784e70a0615b69","dff56518bf493a98"]]},{"id":"6b2dcbe09051b027","type":"inject","z":"23fb3158e132e84d","name":"Trigger - Test Message","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":1740,"y":480,"wires":[["3d6b4e72126fa809"]]},{"id":"50e69678.9dd158","type":"function","z":"23fb3158e132e84d","name":"Powered On Gate","func":"if (flow.get('poweredOn') === 1) {\n    return msg;\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2990,"y":1160,"wires":[["8058297f.3e3f18"]]},{"id":"959d4bc6.64b278","type":"function","z":"23fb3158e132e84d","name":"Create Meter Payload","func":"if (msg.payload === 'IP') {\n    msg = {payload: 0, cmd: msg.payload, control: {label: 'mA :', min: 0, max: 1500, value_channel_0: 'mA'}, topic: 'Plate: <font color=\"gray\">HV | </font><font color=\"#66ff66\">IP</font>'};\n} else {\n    msg = {payload: 0, cmd: msg.payload, control: {label: 'volts :', min: 0, max: 3000, value_channel_0: 'V', seg1: 2800, seg2: 2900}, topic: 'Plate: <font color=\"#66ff66\">HV</font><font color=\"gray\"> | IP</font> '};\n}\n \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2180,"y":1160,"wires":[["3062c4051bcd652f","d741011492e70188","5998c38d071a1f3f"]]},{"id":"c90935ab.7e8018","type":"ui_level","z":"23fb3158e132e84d","group":"8495b55a41b65a7f","order":8,"width":"5","height":"3","name":"Grid IG","label":"Ig mA:","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"150","segWarn":"100","segHigh":"115","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"reactive","shape":"3","colorschema":"fixed","textoptions":"custom","colorText":"#eeeeee","fontLabel":".9","fontValue":".9","fontSmall":".8","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":true,"property":"payload","peaktime":"1000","x":1880,"y":1500,"wires":[]},{"id":"de8fff08.7819d","type":"link out","z":"23fb3158e132e84d","name":"From Overdrive","links":["128a1770.ea4689"],"x":1615,"y":1600,"wires":[]},{"id":"128a1770.ea4689","type":"link in","z":"23fb3158e132e84d","name":"In Parse State","links":["de8fff08.7819d"],"x":2135,"y":1060,"wires":[["d009bcbe.3782d"]]},{"id":"b45ed785.302438","type":"inject","z":"23fb3158e132e84d","name":"Init HV/IP Meter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"HV","payloadType":"str","x":1900,"y":1140,"wires":[["959d4bc6.64b278"]]},{"id":"4bd25305.9d65ac","type":"inject","z":"23fb3158e132e84d","name":"Init ampRxString state","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1740,"y":600,"wires":[["254f43c8.ce8ddc"]]},{"id":"254f43c8.ce8ddc","type":"function","z":"23fb3158e132e84d","name":"Init Flow Variables","func":"flow.set('ampRxString', '');\nflow.set('AmpStatus', 0);\nflow.set('poweredOn', 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2030,"y":600,"wires":[["0a0d7d6e48ff6212"]]},{"id":"bfc5968c.e7ad78","type":"function","z":"23fb3158e132e84d","name":"Set A/C Power Button State","func":"msg.payload = msg.acMode;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":940,"wires":[["f2418f70cb3cd0be"]]},{"id":"ffbb3604.55c318","type":"function","z":"23fb3158e132e84d","name":"Set Meters to 0","func":"if (flow.get('poweredOn') === 0) {\n    msg.payload = 0;\n    return msg;\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":1260,"wires":[["5998c38d071a1f3f","612fcded77b845f4","c90935ab.7e8018","fcd84c9c0ac4e8ac"]]},{"id":"8495b55a41b65a7f","type":"ui_group","name":"Alpha 87A","tab":"e5c51938e2cff19c","order":4,"disp":false,"width":"5","collapse":false},{"id":"e5c51938e2cff19c","type":"ui_tab","name":"Arizona (DM33qv) - Control Panel","icon":"dashboard","disabled":false,"hidden":false}]